@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@if (Model.value != null)
{
    string value = Model.value.ToString();
    var id = string.Format("{0}_map", Guid.NewGuid());

    <div class="map gridmaps" id="@id" style="width:100%;"></div>

    <script type="text/javascript">
        function initializeMap() {
            var mapElement = document.getElementById('@id');
            var settings = @Html.Raw(value);
            var mapCenter = new google.maps.LatLng(settings.latitude, settings.longitude);
            
            mapElement.style.height = settings.height + "px";

            var mapOptions = {
                zoom: settings.zoom,
                center: mapCenter,
                mapTypeId: google.maps.MapTypeId[settings.mapType]
            };
            
            var map = new google.maps.Map(mapElement, mapOptions);
            
            var marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(settings.latitude, settings.longitude),
                draggable: true
            });

            marker.setMap(map);
        }
    </script>
}
