.gridmaps .map{
	height: 400px;
    margin: 0 10px;
    background-color: #e0e0e0;
}

.gridmaps .umb-textstring {
    margin: 10px;
}

.gridmaps .btn {
    margin: 10px;
}

.gridmaps .hide{
	display: none;
}
