<div ng-controller="GridMapsEditorController" class="umb-editor umb-googlemaps test">
    <!-- <p class="clearfix"><a href="" class="btn pull-right" ng-click="openSettings()">Instellingen</a></p> -->
    <div style='max-width:100%'>
        <input type="text" id="{{guid}}_lookup" class="umb-editor umb-textstring textstring" style='width:80%;'/>
		<a href="" class="btn" ng-click="openSettings()" style='width:5%;'><i class='icon-settings'></i></a>
    </div>
    <div>
        <div class="map" id="{{guid}}_map"></div>
    </div>
</div>