<div ng-controller="GridMapsEditorController" class="umb-editor umb-googlemaps gridmaps">
    <div class="row">
        <div class="span8">
            <input type="text" id="{{guid}}_lookup" class="umb-editor umb-textstring textstring" />
        </div>
        <div class="span4 text-right">
            <a href="" class="btn" ng-click="openSettings()">Settings</a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="map" id="{{guid}}_map"></div>
        </div>
    </div>
</div>
