<form name="gmgeForm" novalidate class="gmge-dialog umb-panel" ng-controller="GridMapsEditorDialogController">
    
    <div class="umb-panel-body no-header with-footer umb-scrollable" ng-switch="dialogMode">
        
        <umb-control-group label="Kies een map type">
            <select name="map-type" ng-model="dialogData.mapType" required>
                <option>ROADMAP</option>
                <option>SATELLITE</option>
                <option>HYBRID</option>
                <option>TERRAIN</option>
            </select>
        </umb-control-group>

        <umb-control-group label="Kies zoom-niveau">
            <input type="number" name="zoom" ng-model="dialogData.zoom" required />
        </umb-control-group>

<!--         <umb-control-group label="Choose map height">
            <input type="number" name="height" ng-model="dialogData.height" required />
        </umb-control-group> -->

        <umb-control-group label="Toon Streetview">
            <input type="checkbox" name="streetview" ng-model="dialogData.streetView" />
        </umb-control-group>

    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar">
                
                <a href ng-click="close()" class="btn btn-link">
	        		<localize key="general_cancel">Cancel</localize>
				</a>

				<button class="btn btn-primary" ng-click="save()">
				    <localize key="buttons_save">Save</localize>
				</button>

            </div>
        </div>
    </div>
</form>